global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.

# Load and evaluate rules in this file every 'evaluation_interval' seconds.
rule_files:

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'

    # Override the global default and scrape targets from this job every 5 seconds.
    scrape_interval: 5s
    scrape_timeout: 10s
    metrics_path: '/metrics'
    scheme: 'http'

    target_groups:
      - targets: ['localhost:9090']

{% if consul_ip_address is defined and consul_ip_address != None %}
  - job_name: 'consul'
    metrics_path: /metrics
    scheme: http

    consul_sd_configs:
      - server: '{{ consul_ip_address }}:{{consul_port}}'
        services:
          - node-exporter

    relabel_configs:
      - source_labels: [__meta_consul_service]
        target_label: 'job'
      - source_labels: [__meta_consul_node]
        target_label: instance
      - source_labels: [__meta_consul_dc]
        target_label: datacenter
{% endif %}
