[Unit]
Description=Apache Kafka broker
Requires=network.target
After=network.target
ConditionPathExists=/opt/kafka_2.11-0.8.2.2/config/server.properties

[Service]
Type=simple
LimitNOFILE=32768
PIDFile=/var/run/kafka.pid
User=kafka
Group=kafka
WorkingDirectory=/opt/kafka_2.11-0.8.2.2/
ExecStart=/opt/kafka_2.11-0.8.2.2/bin/kafka-server-start.sh /opt/kafka_2.11-0.8.2.2/config/server.properties
ExecStop=/opt/kafka_2.11-0.8.2.2/bin/kafka-server-stop.sh
Restart=on-failure
SyslogIdentifier=kafka

[Install]
WantedBy=multi-user.target
