[Unit]
Description=Elasticsearch
Documentation=http://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Environment="ES_HOME=/usr/share/elasticsearch" "CONF_DIR=/etc/elasticsearch/" "CONF_FILE=/etc/elasticsearch/elasticsearch.yml" "DATA_DIR=/var/lib/elasticsearch/" "LOG_DIR=/var/log/elasticsearch/" "PID_DIR=/var/run/elasticsearch/"
EnvironmentFile=-/etc/default/elasticsearch

User=elasticsearch
Group=elasticsearch

ExecStart=/usr/share/elasticsearch/bin/elasticsearch \
                                                -Des.pidfile=${PID_DIR}/elasticsearch.pid \
                                                -Des.default.path.home=${ES_HOME} \
                                                -Des.default.path.logs=${LOG_DIR} \
                                                -Des.default.path.data=${DATA_DIR} \
                                                -Des.default.config=${CONF_FILE} \
                                                -Des.default.path.conf=${CONF_DIR}

StandardOutput=journal
StandardError=journal
# When a JVM receives a SIGTERM signal it exits with code 143
SuccessExitStatus=143
LimitNOFILE=65535
TimeoutStopSec=20
Restart=on-failure
RestartSec=1min
SyslogIdentifier=elasticsearch

[Install]
WantedBy=multi-user.target
